.header {
    position: fixed;
    height: var(--header);
    width: 100%;
    padding-inline: var(--page-padding);
    background-color: var(--f-clr-fg-100);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px var(--f-clr-fg-200);
}