.main {
    height: 100svh;
    padding-block: var(--f-spacing-med);
    padding-inline: var(--page-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}